@charset "UTF-8";
.search_body {
	max-width: 900px;
	margin: 0 auto;
	padding: 50px;
	border-radius: 10px;
	border: none;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.search_body a {
	display: inline;
}

.search_form {
	text-align: center;
}
.recipe_result {
	font-size: 16px;
	padding-top: 15px;
}

.recipe_result li {
	margin: 12px 0;
}

.recipe_form label {
	display: block;
}

.search_submit button {
	width: 100px;
	padding: 5px 7px;
	font-size: 20px;
}
