@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body {
	font-family: 'Caveat', cursive;
	background-color: rgba(1, 89, 160, 0.2);
	color: rgb(1, 29, 75);
	padding: 20px;
	font-size: 22px;
}

.search_body {
	max-width: 900px;
	margin: 0 auto;
	padding: 50px;
	border-radius: 10px;
	border: none;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.search_body a {
	display: inline;
}

.search_form {
	text-align: center;
}

.recipe_result {
	font-size: 16px;
}

h1 {
	text-align: center;
	font-family: 'Caveat', cursive;
	font-size: 35px;
	color: rgb(1, 29, 75);
}

label {
	font-weight: bold;
	margin-top: 10px;
}

.recipe_form label {
	display: block;
}

.input-group {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	margin-top: 10px;
}

.input-group input,
.input-group select {
	width: 30%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
}

.steps-container,
.ingredients-container {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background: #f1f1f1;
}

input[type="text"],
textarea {
	width: 150px;
	height: 23px;
	margin-right: 20px;
	box-sizing: border-box;
	/* 幅と高さにpaddingとborderを含める */
	color: #27acd9;
}

.recipe_form input[type="text"],
textarea {
	width: 200px;
	height: 23px;
}

.remove-btn {
	background: #f8d7da !important;
	color: #d927ac !important;
	margin-left: 10px;
}

.remove-btn::before {
	border-color: #d927ac !important;
}

.remove-btn:hover {
	background: #d927ac !important;
	color: #fff !important;
}

.remove-btn:hover::before {
	border-color: #d927ac !important;
}

button {
	vertical-align: middle;
	text-decoration: none;
	position: relative;
	padding: 3px 20px 5px 20px;
	color: #27acd9;
	background: #e1f3f9;
	transition: 0.3s ease-in-out;
	margin: 5px 5px;
	font-family: 'Caveat', cursive;
	font-size: 16px;
}

.search_submit button {
	width: 100px;
	padding: 5px 7px;
	font-size: 20px;
}

button::before {
	content: '';
	position: absolute;
	top: -5px;
	left: -5px;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	border: 2px solid #27acd9;
	transition: 0.2s;
}

button:hover {
	background: #27acd9;
	color: #fff;
}

button:hover::before {
	top: 0;
	left: 0;
}

.form-section {
	margin-bottom: 20px;
}